@media  screen and (min-width: 968px) {
    :root{
        --h1-font-size:2.6rem;
        --normal-font-size:1.2rem;
        --tiny-font-size:1rem;
    }
    
}
@media screen and (max-width: 726px){
    .nav-menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--main-clr);
        width: 100%;
        height:4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: 0.4s;
    }
    #nav-icon{
        display: contents;
        font-size: 1.6rem;
    }
    .nav-list{
        width: 100%;
    }
    .nav-link{
        row-gap: 0;
    }
    .background-img{
        height: 70vh;
    }
    .main-heading{
        padding-top: 50%;
    }
    .main-det{
        padding: 1rem;
    }
    .main-name{
        font-size: 1rem;
    }
    .adr-img{
        width: auto;
    }
}